html	{
	background-color: cornflowerblue;
}

.logo	{
	display: block;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}
.formBox	{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
	background-color: white;
}

.formTitle	{
	position: relative;
	display: block;
	left: 100px;
	width: 200px;
	height: 50px;
	margin-bottom: 30px;
	margin-top: 20px;
	/*padding-top: 20px;
	padding-bottom: 20px;*/
	text-align: center;
	line-height: 49px;
	/*border: 1px dotted black;*/
	font-family: tahoma;
	font-size: 30px;
	color: grey;
}

::-webkit-input-placeholder	{
	font-size: 16px;
			}
			
label	{
	display: block;
	/*border: 1px dotted black;*/
	font-family: verdana;
	font-size: 20px;
	margin-bottom: -5px;
	margin-top: 10px;
	margin-left: 50px;
}

input	{
	display: block;
	width: 300px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}


.button	{
	display: block;
	background-color: limegreen;
	width: 305px;
	height: 40px;
	color: white;
	border: none;
	border-radius: 10px;
	text-align: center;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.button:hover	{
	background-color: green;
}

.fpw	{
	display: block;
	text-align: center;
	margin-top: 4px;
	font-family: verdana;
	font-size: 12px;
}

